@model StockTypeListModel
@{
    Layout = "_Layout";
}


<div class="card bg-secondary text-light">
    <h4 class="card-header">Detaylar</h4>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                Id
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-3">
                Name
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>
         
            <dt class="col-sm-3">
                Approval
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Approval)
            </dd>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Update" asp-route-id="@Model?.Id" class="btn btn-primary">Düzenle</a> |
        <a asp-action="List" class="btn btn-secondary">Listeye Geri Dön</a>
    </div>
</div>
