<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Ek stil dosyalarını buraya ekleyebilirsiniz -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 250px;
            padding-top: 56px;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: #000d1a;

            color: #fff;
        }

            .sidebar a {
                padding: 15px;
                text-decoration: none;
                color: #fff;
                display: block;
            }

                .sidebar a:hover {
                    background: #495057;
                }

        .content {
            margin-left: 250px;
            padding: 20px;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelector("nav").classList.remove('navbar-light');
            document.querySelector("nav").classList.remove('bg-white');
            document.querySelector("nav").classList.add('navbar-dark');
            document.querySelector("nav").classList.add('bg-dark');
        });
    </script>
</head>
<body>

    <!-- Yan Menü -->
    <nav class="sidebar">
        <div class="sidebar-header">
            <h3>Admin Dashboard</h3>
        </div>
        <ul class="list-unstyled">
            <li><a href="#">Anasayfa</a></li>
           
            <li><a asp-controller="User" asp-action="List">Kullanıcı</a></li>
            <li><a asp-controller="StockType" asp-action="List">Stok Tipi</a></li>
            <li><a asp-controller="StockUnit" asp-action="List">Stok Unit</a></li>
            <li><a asp-controller="StockCard" asp-action="List">Stok Card</a></li>
            <!-- Ek yan menü öğelerini buraya ekleyebilirsiniz -->
        </ul>
    </nav>

    <!-- Ana İçerik ve Yan Menü Arasındaki İçerik Bölümü -->
    <div class="content">
        <div class="row">
            <div class="col-md-9">
                <main>
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <!-- Add these to your _Layout.cshtml or the specific page if not using a layout -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy6G5xgPQX2n0ECYxKH1P5I1jncvMRInj" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy6G5xgPQX2n0ECYxKH1P5I1jncvMRInj" crossorigin="anonymous"></script>

    @*  @await RenderSectionAsync("Scripts", required: false) *@
    @RenderSection("scripts", required: false)
</body>
</html>
